/* Definindo fonte padrão para a aplicação */
body {
  font-family: "Poppins", sans-serif;
}

/* Definindo box-sizing para todas as caixas */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resetando margem e preenchimento */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Removendo decoração de link */
a {
  text-decoration: none;
}

/* Configurando cores da aplicação */
:root {
  --primary-color: #85baa1;
  --secondary-color: #fff;
  --text-color: #333;
}

/* Definindo estilos básicos para botões */
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* Mudando estilo de botões com classe .secondary */
button.secondary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* Mudando estilo de botões com classe .large */
button.large {
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: normal;
}

/* Mudando estilo de botões com classe .small */
button.small {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: normal;
}
