.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 60%;
  padding: 0 10px;
}

.logo {
  color: #85baa1;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.menu li.active a {
  color: #85baa1;
  font-weight: bold;
}
